@model Pet.Models.Roles

@{
    ViewData["Title"] = "Access Rights Information";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row page-titles mx-0">
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="AdminRoles" asp-action="Index">Access List</a></li>
            <span class="breadcrumb-item">Access Right Information</span>
        </ol>
    </div>
</div>
<div>
    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Access Rights Information</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <tbody>
                        <tr>
                            <td style="color:black">ID:</td>
                            <td>@Model.RoleId</td>
                        </tr>
                        <tr>
                            <td style="color:black">Access Name:</td>
                            <td>@Model.RoleName</td>
                        </tr>
                        <tr>
                            <td style="color:black">Description:</td>
                            <td>@Model.Description</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
